<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Breakthrough Analytics</title>
  <meta name="description" content="d3 and Angular">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/analytics.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.js"></script>
  <script src="js/svg-to-png.js"></script>
</head>
<body ng-app="Analytics">
<div class="row">
  <div class="col-md-8 col-md-offset-2"><hr></div>
</div>
<br><br><br>
<div class="row">
  <div class="col-md-8 col-md-offset-2" ng-controller="stackedBarCtrl" >
    <stacked-bar ng-if="d3Data" data="d3Data" settings="settings"></stacked-bar>
  </div>

</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h2> Learning Locker</h2>
    <a href="#" id="exportButton">Export</a>
  </div>
</div>
<div class="row">
  <!-- Learning Locker Active categories dougnut chart-->
  <div class="col-md-4 col-md-offset-2" ng-controller="llActiveCatPieCtrl" >
    <ll-active-cat-pie ng-if="d3Data" data="d3Data" settings="settings"></ll-active-cat-pie>
  </div>
  <!-- Learning Locker Active categories-->
  <div class="col-md-4" ng-controller="llActiveCatCtrl" >
    <ll-active-cat ng-if="d3Data" data="d3Data" settings="settings"></ll-active-cat>
  </div>
</div>


<!-- LOGINS  -->
<div class="row">
  <div class="col-md-12 text-center">
    <h2> Breakthrough Analytics</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-2" ng-controller="blrsLoginsCtrl" >
    <blrs-logins ng-if="d3Data" data="d3Data" settings="settings"></blrs-logins>
  </div>
  <div class="col-md-4" ng-controller="blrsHbarCtrl" >
    <blrs-hbar ng-if="d3Data" data="d3Data" settings="settings"></blrs-hbar>
  </div>
</div>
<!-- -->
<div class="row">
  <div class="col-md-8 col-md-offset-2"><hr></div>
</div>
<!-- TIMELINE -->
<div class="row">
  <div class="col-md-8 col-md-offset-2" ng-controller="blrsTimelineCtrl" >
    <blrs-timeline ng-if="d3Data" data="d3Data" settings="settings"></blrs-timeline>
  </div>
</div>
<!-- -->
<div class="row">
  <div class="col-md-8 col-md-offset-2"><hr></div>
</div>
<div class="row">
  <!-- COMMUNICATIONS -->
  <div class="col-md-2 col-md-offset-2" ng-controller="blrsCmnicationCtrl" >
    <blrs-cmnication ng-if="d3Data" data="d3Data" settings="settings"></blrs-cmnication>
  </div>
  <!-- SUBMISSIONS -->
  <div class="col-md-3 " ng-controller="blrsSubmissionsCtrl" >
    <blrs-submissions ng-if="d3Data" data="d3Data" settings="settings"></blrs-submissions>
  </div>

  <!-- GRADES -->
  <div class="col-md-3" ng-controller="blrsGradesCtrl" >
    <blrs-grades ng-if="d3Data" data="d3Data" settings="settings"></blrs-grades>
  </div>
  <!---->
</div>
<!--ACTIVITY-->
<div class="row">
  <div class="col-md-4 col-md-offset-2" ng-controller="blrsActivityCtrl" >
    <blrs-activity ng-if="d3Data" data="d3Data" settings="settings"></blrs-activity>
  </div>
  <!-- blrs-course-submissions -->
  <div class="col-md-4" ng-controller="blrsCourseSubmissionsCtrl" >
    <blrs-course-submissions ng-if="d3Data" data="d3Data" settings="settings"></blrs-course-submissions>
  </div>
</div>

<div class="row">
  <!-- GRADES DISTRIBUTIONS -->
  <div class="col-md-4 col-md-offset-2" ng-controller="blrsDistributionsCtrl" >
    <blrs-distributions ng-if="d3Data" data="d3Data" settings="settings"></blrs-distributions>
  </div>
  <!-- CONNECTIONS -->
  <div class="col-md-4" ng-controller="blrsConnectionsCtrl" >
    <blrs-connections ng-if="d3Data" data="d3Data" settings="settings"></blrs-connections>
  </div>

</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2"><hr></div>
</div>

<canvas id="canvasTest"></canvas>


<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="js/script.js"></script>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="js/app/Analytics.js"></script>

<script src="js/services/d3.js"></script>
<script src="js/services/d3-tip.js"></script>

<script src="js/controllers/blrs-logins-ctrl.js"></script>
<script src="js/directives/blrs-logins.js"></script>

<script src="js/controllers/blrs-timeline-ctrl.js"></script>
<script src="js/directives/blrs-timeline.js"></script>

<script src="js/controllers/blrs-cmnication-ctrl.js"></script>
<script src="js/directives/blrs-cmnication.js"></script>

<script src="js/controllers/blrs-submissions-ctrl.js"></script>
<script src="js/directives/blrs-submissions.js"></script>

<script src="js/controllers/blrs-grades-ctrl.js"></script>
<script src="js/directives/blrs-grades.js"></script>

<script src="js/controllers/blrs-distributions-ctrl.js"></script>
<script src="js/directives/blrs-distributions.js"></script>

<script src="js/controllers/blrs-connections-ctrl.js"></script>
<script src="js/directives/blrs-connections.js"></script>

<script src="js/controllers/blrs-activity-ctrl.js"></script>
<script src="js/directives/blrs-activity.js"></script>

<script src="js/controllers/blrs-course-submissions-ctrl.js"></script>
<script src="js/directives/blrs-course-submissions.js"></script>

<script src="js/controllers/ll-active-cat-ctrl.js"></script>
<script src="js/directives/ll-active-cat.js"></script>

<script src="js/controllers/ll-active-cat-pie-ctrl.js"></script>
<script src="js/directives/ll-active-cat-pie.js"></script>

<script src="js/controllers/blrs-hbar-ctrl.js"></script>
<script src="js/directives/blrs-hbar.js"></script>
<script src="js/controllers/stacked-bar-ctrl.js"></script>
<script src="js/directives/stacked-bar.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
<script type="text/javascript">//<![CDATA[
$(window).load(function(){

//    var canvas = document.getElementById('canvasTest'),
//        context = canvas.getContext('2d');
//    var svg = $(".analytics-active-cat")[0];
//    var svg = $(".analytics-active-cat");
    $("#exportButton").click(function(){
        var html = d3.select(".analytics-distributions")
            .attr("version", 1.1)
            .attr("xmlns", "http://www.w3.org/2000/svg")
            .node().parentNode.innerHTML;

        //console.log(html);
        var imgsrc = 'data:image/svg+xml;base64,'+ btoa(html);
        var img = '<img src="'+imgsrc+'">';



        var canvas = document.createElement('canvas');
        canvas.width=640;
        canvas.height=480;
        var context = canvas.getContext('2d');

        var image = new Image();
        image.src = imgsrc;
        image.onload = function() {
            context.drawImage(image, 0, 0);

            var canvasdata = canvas.toDataURL("image/png");

            var pngimg = '<img src="'+canvasdata+'">';
            d3.select("#pngdataurl").html(pngimg);

            var a = document.createElement("a");
            a.download = "sample.png";
            a.href = canvasdata;
            a.click();
        };

    });

});//]]>

</script>
</body>
</html>