svg {
  border: 0px solid #dedede;
}
.d3-tip {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.d3-tip:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.8);
  position: absolute;
}
.d3-tip.n:after {
  top: 100%;
  left: 50%;
  margin-left: -10px;
}
.analytics-logins .axis path,
.analytics-logins .axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0);
  shape-rendering: crispEdges;
}
.analytics-logins .axis text {
  fill: #445566;
  font-size: 12px;
}
.analytics-logins line.y {
  stroke: #ebebeb;
}
.analytics-timeline .axis path {
  fill: none;
  stroke: #d4d5d6;
  shape-rendering: crispEdges;
}
.analytics-timeline .big-ticks line,
.analytics-timeline .small-ticks line {
  fill: none;
  stroke: #d4d5d6;
  shape-rendering: crispEdges;
}
.analytics-timeline .circle {
  fill: #a2a2a2;
  stroke: #a2a2a2;
  opacity: .7;
  cursor: pointer;
}
.analytics-timeline .circle.actions {
  fill: #efc164;
  stroke: #efc164;
}
.analytics-timeline .centers .circle {
  opacity: 1;
}
.analytics-cmnication .title {
  text-transform: capitalize;
}
.analytics-cmnication text {
  fill: #2f455b;
  font-weight: 700;
}
.analytics-cmnication .donut-inner text {
  text-transform: uppercase;
  fill: #2f455b;
  font-weight: 700;
}
.analytics-submissions .axis path,
.analytics-submissions .axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0);
  shape-rendering: crispEdges;
}
.analytics-submissions .axis text {
  fill: #445566;
  font-size: 12px;
  text-transform: uppercase;
}
.analytics-submissions line.y {
  stroke: #ebebeb;
}
.analytics-submissions .bar {
  cursor: pointer;
}
.analytics-submissions .ontime {
  fill: #3798dc;
}
.analytics-submissions .ontime .rect {
  fill: #3798dc;
}
.analytics-submissions .ontime .circle {
  fill: #ffffff;
  stroke: #3798dc;
}
.analytics-submissions .ontime .check {
  fill: #3798dc;
}
.analytics-submissions .late {
  fill: #efc164;
}
.analytics-submissions .late .rect {
  fill: #efc164;
}
.analytics-submissions .late .circle {
  fill: #ffffff;
  stroke: #efc164;
}
.analytics-submissions .late .check {
  fill: #efc164;
}
.analytics-submissions .missing {
  fill: #ea5d4b;
}
.analytics-submissions .missing .rect {
  fill: #ea5d4b;
}
.analytics-submissions .missing .circle {
  fill: #ffffff;
  stroke: #ea5d4b;
}
.analytics-submissions .missing .check {
  fill: #ea5d4b;
}
